# 01. Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [25]:
df = pd.read_csv(r'C:\Users\littl\Career Foundry\06.2022 Instacart Basket Analysis\02 - Data\Original Data\orders.csv', index_col = False)

In [26]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [27]:
df.shape

(3421083, 7)

In [3]:
path = "C:\windows\\"

In [4]:
path

'C:\\windows\\'